.Botonmenu {
}
.Barra {
}
.content-area .card img {
}
.Texto {
    color: #969696;
    font-size: small;
}
.F.E.C {
}
.U {
    color: #909090;
    font-size: small;
}
.Ediciones {
    font-size: large;
}
